<div class="container-fluid">
  <div class="row text-center">
    <h1 id="booking-title">RESERVATIONS</h1>
    <br>
  </div>
  <div class="row" style="height:80vh;">
    <div id="scroll-card" class="col-md-6"  >
      <% current_user.companies.first.bookings.each do |booking| %>
      <div class="booking-card">
        <div class="row">
          <div class="col-md-4">
            <p><strong>Nom du client:</strong></p>
          </div>
          <div class="col-md-6">
            <p> <%= booking.client.last_name.capitalize %> <%= booking.client.first_name %></p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-camera-retro"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><strong>Adresse</strong></p>
          </div>
          <div class="col-md-6">
            <p><%= booking.location %></p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-envelope"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><strong>Service demandé:</strong></p>
          </div>
          <div class="col-md-6">
            <p><%= booking.prestations.first.activity.name %></p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-search"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><strong>Date de début - fin:</strong></p>
          </div>
          <div class="col-md-6">
            <p><%= booking.start_date %> - <%= booking.end_date %></p>
          </div>
          <% if !booking.prestations.first.job.nil? %>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-calendar-alt" data-toggle="modal" data-target="#my-modal-<%= booking.id.to_s %>"></i></p>
            <!-- Modal -->
            <div class="modal fade" id="my-modal-<%= booking.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Planning</h4>
                  </div>
                  <div class="modal-body">
                    <div id="modal-<%= booking.id.to_s %>"class="modal-calendar" data-prestations="<%= booking.prestations.first.job.prestations.map {|prestation| { title: prestation.activity.name, start: prestation.booking.start_date,end: prestation.booking.end_date }}.to_json %>">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% else %>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px; color:#9d8f8f;" class="fas fa-2x fa-calendar-times"></i></p>
          </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><strong>Employé:</strong></p>
          </div>
          <div class="col-md-6">
            <%= simple_form_for booking.prestations.first do |f| %>
            <%= f.input :job, :collection => booking.company.employees, label_method: :first_name, label: false %>
            <%= f.button :submit, "Mettre à jour", class: "style-button" %>
            <% end %>
            <% unless booking.prestations.first.job.nil? %>
            <% end %>
          </div>
          <div class="col-md-2 icone-card-position">
            <p>
              <% if booking.prestations.first.job.nil? %>
              <span style="font-size: 18px; color: red;">
                <i class="fas fa-2x fa-times-circle"></i>
              </span>
              <% else %>
              <span style="font-size: 18px; color: green;">
                <i class="fas fa-2x fa-check-circle"></i>
              </span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6" style="height: 100%;">
      <div id="map" style="width: 95%; height: 80vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
