<div class="container-fluid">
  <div class="row text-center">
    <h1 id="booking-title">RESERVATIONS</h1>
    <br>
  </div>
  <div class="row" style="height:80vh;">
    <div id="scroll-card" class="col-md-6"  >
      <% current_user.companies.first.bookings.each do |booking| %>
      <div class="booking-card">
        <div class="row">
          <div class="col-md-4" >
            <p>Nom du client : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>dupont</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-camera-retro"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Addresse : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>Rue de la pompe a velo</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-envelope"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Service demandé : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>Ménage</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-search"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Date : Début - Fin : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>20/12/2018 - 21/12/2018</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-calendar-alt"></i></p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Employé : <%=  %></p>
          </div>
          <div class="col-md-6">
            <%= simple_form_for booking.prestations.first do |f| %>
            <%= f.input :job, :collection => booking.company.employees, label_method: :first_name, label: false %>
            <%= f.button :submit, "Mettre à jour", class: "style-button" %>
            <% end %>
            <% unless booking.prestations.first.job.nil? %>
            <% end %>
          </div>
          <div class="col-md-2 icone-card-position">
            <p>
              <% if booking.prestations.first.job.nil? %>
              <span style="font-size: 18px; color: red;">
                <i class="fas fa-2x fa-times-circle"></i>
              </span>
              <% else %>
              <span style="font-size: 18px; color: green;">
                <i class="fas fa-2x fa-check-circle"></i>
              </span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6" style="height: 100%;">
      <div id="map" style="width: 95%; height: 80vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
