<div class="container-fluid">
  <div class="row text-center">
    <h1 id="booking-title">RESERVATIONS</h1>
    <br>
  </div>
  <div class="row" style="height: 70vh;">
    <div class="col-xs-12 col-sm-6">
      <% current_user.companies.first.bookings.each do |booking| %>
        <% unless booking.prestations.first.nil? %>
          <div class="booking-card">
            <% if booking.prestations.first.job.nil? %>
              <span style="font-size: 18px; color: red;">
                <i class="fas fa-times-circle"></i>
              </span>
            <% else %>
              <span style="font-size: 18px; color: green;">
                <i class="fas fa-check-circle"></i>
              </span>
            <% end %>
            <%= simple_form_for booking.prestations.first do |f| %>
              <%= f.input :job, :collection => booking.company.employees, label_method: :first_name, :label => "Employé : " %>
              <%= f.button :submit %>
            <% end %>
            <% unless booking.prestations.first.job.nil? %>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#my-modal-<%= booking.id.to_s %>">
                Launch demo modal
              </button>
              <!-- Modal -->
              <div class="modal fade" id="my-modal-<%= booking.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Planning</h4>
                    </div>
                    <div class="modal-body">
                      <div id="modal-<%= booking.id.to_s %>"class="modal-calendar" data-prestations="<%= booking.prestations.first.job.prestations.map {|prestation| { title: prestation.activity.name, start: prestation.booking.start_date,end: prestation.booking.end_date }}.to_json %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <i class="far fa-calendar-alt" data-toggle="modal" data-target="#myModal"></i>
              <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog" role="document">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h1 class="modal-title">Planning de la semaine</h1>
                    </div>
                    <div class="modal-body">
                      <div id="modal-calendar" data-toto="<%= booking.prestations.first.job.prestations.map {|prestation| { title: prestation.activity.name, start: prestation.booking.start_date,end: prestation.booking.end_date }}.to_json %>">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Addresse : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>Rue de la pompe a velo</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-calendar-alt"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Service demandé : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>Ménage</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-calendar-alt"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Date de début : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>20 décembre</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-calendar-alt"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Date de fin: <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>21 décembre</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-calendar-alt"></i></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Employé : <%=  %></p>
          </div>
          <div class="col-md-6">
            <p>Ici c'est le simple form</p>
          </div>
          <div class="col-md-2 icone-card-position">
            <p><i style="font-size: 42px;" class="fas fa-2x fa-calendar-alt"></i></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6" style="height: 100%;">
      <div id="map" style="width: 95%; height: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
