

<div class="banner" style="background-image: url(<%= image_path 'banner.jpg' %>); background-size: cover; ">
  <div class="banner-content">
    <div class="wrapper">
      <div class="card" style="background-image: url(<%= image_path 'card_boss.jpg' %>);  background-size: cover;" >
        <div class="info">
          <h6>Dashboard</h6>
          <p>Je suis une entreprise</p>
          <%= link_to "Se connecter", companies_path, class: "button buttons"%>
        </div>
      </div>
      <div class="card" style="background-image: url(<%= image_path 'card_client.jpg' %>); background-size: cover; " >
        <div class="info">
          <h6>Dashboard</h6>
          <p>Je suis un salarié</p>
          <button class="buttons" >Accéder</button>
        </div>
      </div>
      <div class="card" style="background-image: url(<%= image_path 'card_boniche.jpg' %>); background-size: cover; " >
        <div class="info">
          <h6>Dashboard</h6>
          <p>Je suis un client</p>
          <button class="buttons" >Accéder</button>
        </div>
      </div>
    </div>
  </div>
</div>
