<div class="banner">
  <div class="banner-content">
    <h1 class="home-title">Dashboard</h1>

    <div class="wrapper">
      <%= link_to companies_path do %>
      <div class="card" style="background-image: url(<%= image_path 'card_boss.jpg' %>);  background-size: cover;" >
        <div class="info">
          <h5>Entreprise</h5>
        </div>
      </div>
      <% end %>
      <%= link_to companies_path do %>
      <div class="card" style="background-image: url(<%= image_path 'card_client.jpg' %>); background-size: cover; " >
        <div class="info">
          <h5>Client</h5>
        </div>
      </div>
      <% end %>
      <%= link_to companies_path do %>
      <div class="card" style="background-image: url(<%= image_path 'card_boniche.jpg' %>); background-size: cover; " >
        <div class="info">
          <h5>Salarié</h5>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
