<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=fontawesome">
    <link rel="stylesheet" type="text/css" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <meta property="og:title" content="Alpha-solutions(conciergerie de luxe)">
    <meta property="og:image" content="og-image.png">
    <meta property="og:description" content="La solution adaptée à la gestion de votre entreprise">
    <meta property="og:site_name" content="Alpha-Solution"/>
    <title>Alpha-Solutions</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'map' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="shortcut icon"  type="image/x-icon" href="/favicon.png"/>
    <link rel="icon" type="image/png" href="/public/favicon.png">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes'%>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
